{% extends 'student-dashboard-base.html' %}
{% load tags %}

{% block sidebars %}
    {{ block.super }}
    {% include 'partials/sidebar.html' with page="mcm_tiet" %}
{% endblock %}

{% block mainSection %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4 mb-3">
        <div class="d-block mb-4 mb-md-0">

            <h2 class="h4">My submitted applications</h2>
            <p class="mb-0">Here are the applications you've submitted for Merit-cum-Means scholarships</p>
        </div>

    </div>

    <div class="accordion" id="accordionPricing">

        <div class="card rounded bg-white pt-4">
            <div class="d-flex justify-content-center row mx-md-3 mx-0">
                <div class="col-12 p-0">
                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap rounded mb-0">
                            <thead class="">
                            <tr>
                                <th style="width: 10%">Application ID</th>
                                <th>Scholarship</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for application in mcm_tiet_applications %}
                                {% include 'partials/mcm-submitted-tiet.html' with application=application %}
                            {% endfor %}
                            {% for application in mcm_alumni_applications %}
                                {% include 'partials/mcm-submitted-alumni.html' with application=application %}
                            {% endfor %}
                            {% for application in mcm_other_applications %}
                                {% include 'partials/mcm-submitted-other.html' with application=application %}
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}