{% extends 'student-dashboard-base.html' %}
{% load tags %}
{% block customStyles %}
    <style>
        .accordion-button {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 1rem 1.25rem;
            font-size: 1rem;
            color: #374151;
            text-align: left;
            background-color: rgba(0, 0, 0, 0);
            border: 0;
            border-radius: 0;
            overflow-anchor: none;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease
        }

        @media (prefers-reduced-motion: reduce) {
            .accordion-button {
                transition: none
            }
        }

        .accordion-button:not(.collapsed) {
            color: #4B5563;
            background-color: #F2F4F6;
            box-shadow: inset 0 -.0625rem 0 #E5E7EB
        }

        .accordion-button:not(.collapsed)::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234B5563'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            transform: rotate(180deg)
        }

        .accordion-button::after {
            flex-shrink: 0;
            width: 1.25rem;
            height: 1.25rem;
            margin-left: auto;
            content: "";
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23374151'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-size: 1.25rem;
            transition: transform 0.2s ease-in-out
        }

        @media (prefers-reduced-motion: reduce) {
            .accordion-button::after {
                transition: none
            }
        }

        .accordion-button:hover {
            z-index: 2
        }

        .accordion-button:focus {
            z-index: 3;
            border-color: #4d6689;
            outline: 0;
            box-shadow: 0 0 0 .18rem rgba(31, 41, 55, 0.25)
        }
    </style>
{% endblock %}
{% block sidebars %}
    {{ block.super }}
    {% include 'partials/sidebar.html' with page="noticeBoard" %}
{% endblock %}
{% block mainSection %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4 mb-3">
        <div class="d-block mb-4 mb-md-0">

            <h2 class="h4">Notice Board</h2>
            <p class="mb-0">Thapar Institute of Engineering & Technology's Scholarship Notice Board </p>
        </div>

    </div>

    <div class="accordion" id="accordionPricing">

        {% for notice_category in object_list %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne_{{ notice_category.id }}"
                            aria-expanded="true" aria-controls="collapseOne_{{ notice_category.id }}">
                        {{ notice_category.title }}
                    </button>
                </h2>
                <div id="collapseOne_{{ notice_category.id }}"
                     class="accordion-collapse collapse {% if not notice_category.collapsed %}show{% endif %}"
                     aria-labelledby="headingOne"
                     data-bs-parent="#accordionPricing">
                    <div class="accordion-body bg-white">
                        <div class="d-flex justify-content-center row mx-md-3 mx-0">
                            <div class="col-12 p-0">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th style="width: 70%;">Notice</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for notice in notice_category.notice_set.all %}
                                        <tr>
                                            <td><a
                                                   {% if notice.attachment %}href="{{ notice.attachment.url }}" target="_blank"{% endif %}

                                                   class="fw-bolder ">{{ notice.title }}</a></td>
                                            <td><span class="fw-bold ">{{ notice.date }}</span></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>


{% endblock %}