{% extends 'base.html' %}
{% load static %}
{% block sidebars %}

    {% include 'partials/mobile-navbar.html' %}
    {% include 'partials/sidebar.html' with page="index" %}

{% endblock %}
{% block content %}

    <main class="content">

        {% include 'partials/navbar.html' %}

        {# Purchase Gym Pass Button #}
        <div class="py-4 d-flex justify-content-start">
            <div class="dropdown">
                <a href="#" class="btn btn-tertiary text-white d-inline-flex align-items-center me-2 dropdown-toggle"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                         class="bi bi-credit-card-2-back-fill icon icon-xs me-2" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0V4zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2zM0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1H0z"></path>
                    </svg>
                    Purchase Gym Pass
                </a>

            </div>
        </div>

        {#  Info Cards  #}
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="card mb-2 mb-md-4">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-right">
                                    <h3>24<sup>th</sup> December</h3>
                                    <span>Last Login</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="card mb-2 mb-md-4">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-right">
                                    <h3>23</h3>
                                    <span>Sessions used</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="card mb-2 mb-md-4">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">

                                <div class="media-body text-right">
                                    <h3>7</h3>
                                    <span>Sessions remaining</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Gym Visit Summary Table and Your Passes #}
        <div class="row">
            <div class="col-12 col-xxl-7 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="fs-5 fw-bold mb-0">Recent Gym visits</h2>
                            </div>
                            <div class="col text-end">
                                <a href="#" class="btn btn-sm btn-primary">See all</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th class="border-bottom" scope="col">Gym name</th>
                                <th class="border-bottom" scope="col">Location</th>
                                <th class="border-bottom" scope="col">Sessions Used</th>
                                <th class="border-bottom" scope="col">Date of Visit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="text-gray-900" scope="row">
                                    O2 Fitness Club
                                </th>
                                <td class="fw-bolder text-gray-500">
                                    Patiala
                                </td>
                                <td class="fw-bolder text-gray-500">
                                    1
                                </td>
                                <td class="fw-bolder text-gray-500">
                                    23rd Nov, 2022
                                </td>
                            </tr>

                            <tr>
                                <th class="text-gray-900" scope="row">
                                    THE URBAN GYM
                                </th>
                                <td class="fw-bolder text-gray-500">
                                    Patiala
                                </td>
                                <td class="fw-bolder text-gray-500">
                                    2.5
                                </td>
                                <td class="fw-bolder text-gray-500">
                                    22nd Nov, 2022
                                </td>
                            </tr>
                            <tr>
                                <th class="text-gray-900" scope="row">
                                    THE URBAN GYM
                                </th>
                                <td class="fw-bolder text-gray-500">
                                    Patiala
                                </td>
                                <td class="fw-bolder text-gray-500">
                                    2.5
                                </td>
                                <td class="fw-bolder text-gray-500">
                                    21st Nov, 2022
                                </td>
                            </tr>
                            <tr>
                                <th class="text-gray-900" scope="row">
                                    Jacked 'o' Fitness
                                </th>
                                <td class="fw-bolder text-gray-500">
                                    Chandigarh
                                </td>
                                <td class="fw-bolder text-gray-500">
                                    4
                                </td>
                                <td class="fw-bolder text-gray-500">
                                    20th, Nov, 2022
                                </td>

                            </tr>

                            <tr>
                                <th class="text-gray-900" scope="row">
                                    Platinum Fitness
                                </th>
                                <td class="fw-bolder text-gray-500">
                                    Patiala
                                </td>
                                <td class="fw-bolder text-gray-500">
                                    1
                                </td>
                                <td class="fw-bolder text-gray-500">
                                    18th, Nov, 2022
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xxl-5 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                        <h2 class="fs-5 fw-bold mb-0"> Your Passes </h2>
                        <a href="#" class="btn btn-sm btn-primary">See all</a>
                    </div>
                    <div class="card-body">
                        <div class="card text-center">
                            <div class="card-header d-flex justify-content-between">
                                <span>Basic Saver Pass</span>

                                <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                           class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
</svg> Patiala</span>
                            </div>
                            <div class="card-body text-start">
                                <h5 class="card-title">38% Used</h5>
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-tertiary" role="progressbar" style="width: 38%;"
                                         aria-valuenow="38"
                                         aria-valuemin="0" aria-valuemax="100">19 / 50
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                Valid till: <strong>31st Feb, 2023</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% include 'partials/footer.html' %}
    </main>
{% endblock %}

