{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block sidebars %}

    {% include 'partials/mobile-navbar.html' %}
    {% include 'partials/sidebar.html' with page="upload_scholarship_data" %}

{% endblock %}

{% block content %}

    <main class="content">

        {% include 'partials/navbar.html' %}

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4 mb-3">
            <div class="d-block mb-4 mb-md-0">

                <h2 class="h4">Auto-compute Merit Scholarships</h2>
                <p class="mb-0">Using this form, you can  </p>
            </div>

        </div>
        <div class="d-block mb-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="category">Session</label>
                    <select id="category" class="form-select" required>
                        <option value="" selected disabled>Choose session</option>
                        {% for session in sessions %}
                            <option value="{{ session.id }}">{{ session.name }}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="mb-3">
                    <label for="category">Scholarship Category</label>
                    <select id="category" class="form-select" required onchange="filterResults(this)">
                        <option value="" selected disabled>Choose category</option>
                        {% for scholarship_category in scholarship_categories %}
                            <option value="{{ scholarship_category.id }}">{{ scholarship_category.name }}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="mb-3">
                    <label for="scholarship">Scholarship</label>
                    <select id="scholarship" class="form-select" required name="scholarship_id">
                        <option value="" selected disabled>Choose scholarship</option>
                        {% for scholarship in scholarships %}
                            <option category="{{ scholarship.category_id }}" value="{{ scholarship.id }}">
                                {{ scholarship.name }}</option>
                        {% endfor %}

                    </select>
                    <div class="invalid-feedback">Example invalid select feedback</div>
                </div>
                <div class="mb-3">
                    <label for="file">Excel file</label>
                    <input type="file" id="file" class="form-control" aria-label="file example" required name="file">
                    `
                </div>

                <div class="mb-3">
                    <a target="_blank" href="{% static 'SCHOLARSHIP_UPLOAD_TEMPLATE.xlsx' %}"
                       class="btn btn btn-outline-secondary">Download Template File</a>
                    <button class="btn btn-primary" type="submit">Upload Data</button>
                </div>
            </form>
        </div>

        {% include 'partials/footer.html' %}
    </main>
{% endblock %}